{% extends 'base.html' %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>{{ product.title }}</title>
    </head>
    <body>
    <h2>{{ product.title }}</h2>
    <tr>
        <td>Item name: {{ product.title }}</td>
        <br>
        <td>Item ID: {{ product.item_id }}</td>
        <br>
        <td>Current price: {{ product.current_price }} UAH</td>
        <br>
        {% if product.old_price > product.current_price %}
            <td>Old price: {{ product.old_price }} UAH</td><br>
        {% endif %}
        <td>Sell status:
            {% if product.sell_status %}
                Product in stock
            {% else %}
                Product is not available!
            {% endif %}
        </td>
        <br>
        <td>Product URL: <a href="{{ product.href }}">{{ product.href }}</a></td>
        <br>
        <td>Brand: {{ product.brand }}</td>
        <br>
        <td>Category: {{ product.category.category_title }}</td>
    </tr>
    <hr>
    {% if product.sell_status %}
        <form id="add-to-cart-form" action="{% url 'cart:add_to_cart' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="add-to-cart" type="submit">Add to you cart</button>
            <br/>
        </form>
    {% endif %}

    {% if request.user.is_superuser %}
        <hr>
        <h3>SuperUser functions</h3>
        <a href="{% url 'product:edit_product' pk=product.id %}">
            <button>Edit Product</button>
        </a>
        <br><br>
        <form action="{% url 'product:delete_product' %}" method="POST">
            {% csrf_token %}
            {{ remove_form }}
            <button type="submit">DELETE PRODUCT</button>
            <br/>
        </form>
    {% endif %}
    </body>

{% endblock %}
