{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ category }}</title>
</head>
<body>
    <h2>Categories</h2>
    {% for category in categories_list %}
        <a href="{% url 'category_products' pk=category.pk %}">
            <button>{{ category.category_title }} </button>
        </a>
    {% endfor %}
    <h2>{{ category }}</h2>
    {% for item in products %}
        <tr>
        <a href="{% url 'product_data' pk=item.pk %}"><button>
            {{ item.title }}. Price: {{ item.current_price }} UAH
        </button></a>
        <br>
        </tr>
    {% endfor %}
</body>
{% endblock %}
