<body>
    <header class="page-header">
      <div class="container">
          <h1><a href="/">Rozetka products scraping service</a></h1>
      </div>
        <hr>
        <a href="{% url 'add_products' %}"><button>Add new products</button></a>
        <a href="{% url 'my_products' %}"><button>All products list</button></a>
        <a href="{% url 'cart' %}"><button>Cart</button></a>
        <hr>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>
</body>