{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ product.title }}</title>
</head>
<body>
<h2>{{ product.title }}</h2>
<tr>
    <td>Item name: {{ product.title }}</td><br>
    <td>Item ID: {{ product.item_id }}</td><br>
    <td>Current price: {{ product.current_price }} UAH</td><br>
    {% if product.old_price > product.current_price %}
        <td>Old price: {{ product.old_price }} UAH</td><br>
    {% endif %}
    <td>Sell status: {{ product.sell_status }}</td><br>
    <td>Product URL: <a href="{{ product.href }}">{{ product.href }}</a></td><br>
    <td>Brand: {{ product.brand }}</td><br>
    <td>Category: {{ product.category }}</td>
</tr>
<hr>
{% if stock %}
    <form action="{% url 'add_to_cart' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add to you cart</button>
        <br/>
    </form>
{% endif %}
</body>
{% endblock %}
